*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #270082 ;
}
.main-heading {
    text-align: center;
    font-size: 3.5rem;
    margin: 50px;
    color: white;

}
.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    color: white;
    margin: 0 auto;
    
}
.time {
    font-size: 6rem;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 120px;
}
.btn > button {
    width: 80px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 7px;
    border: none;
    
}
.time-btn:hover{
    transition-duration: 0.5s;
    transform: scale(1.2);
    
}

